body {
    width:800px;
    font-family:'Segoe UI';
    font-size: 16px;
}

#id {
    float:left;
    width:300px;
    height:200px;
    background-color: #FF0000;
}

@media only screen and (max-width: 480px) {
    #id{
        width: 200px;
        background-color: #0000FF;
    }
}