div {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.property {
    -webkit-transition-property: top, left;
    -moz-transition-property: top, left;
    -o-transition-property: top, left;
    transition-property: top, left;
}

.duration {
    -webkit-transition-duration: 1s, 1s;
    -moz-transition-duration: 1s, 1s;
    -o-transition-duration: 1s, 1s;
    transition-duration: 1s, 1s;
}

.delay {
    -webkit-transition-delay: 0s, 1s;
    -moz-transition-delay: 0s, 1s;
    -o-transition-delay: 0s, 1s;
    transition-delay: 0s, 1s;
}

.timing {
    -webkit-timing-function: linear;
    -moz-timing-function: linear;
    -o-timing-function: linear;
    timing-function: linear;
}